<div class="col-md-4">
  <span class="anchor"></span>

  <!-- form card login with validation feedback -->
  <div class="card card-outline-secondary">
    <div class="card-header">
      <h5 class=".text-light">Profile</h5>
      <%= render 'shared/errors', model: resource %>
    </div>

    <div class="card-body">

      <% resource.password = nil %>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, autocomplete: "off" }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :display_name %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "user", class: 'form-control' %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="card mt-3">
          <div class="card-header">
            <h5 class=".text-light">Avatar</h5>
          </div>
          <div class="card-body">
            <%= image_tag current_user.avatar.url(:thumb), class: 'avatar avatar-lg' %>
          </div>
          <div class="card-footer">
            <div class="form-group">
              <%= f.file_field :avatar, accept: 'image/png,image/gif,image/jpeg', class: "filestyle", 'data-buttonText': "Upload"%>
            </div>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "Update", class: 'btn btn-lg float-right' %>
        </div>
      <% end %>
    </div>

    <div class="card mt-3">
      <div class="card-header">
        <%= button_to "Cancel account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger float-left' %>
      </div>
    </div>

  </div>
</div>
