
<div class="col-md-6 offset-md-3">
  <span class="anchor" id="formLogin"></span>

  <!-- form card login with validation feedback -->
  <div class="card card-outline-secondary">
    <div class="card-header">
      <h3 class=".text-light">Sign up</h3>
    </div>

    <div class="card-body">
      <%= devise_error_messages! %>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "form") do |f| %>

        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
        <%= f.submit 'Sign up', class: 'btn btn-lg float-right' %>

      <% end %>

    </div><!--/card-body-->

    <div class="card-footer">
      <p style="padding-top:12px">
      </p>
    </div>

  </div>
</div>