<div class="row">
  <div class="col-4">
    <div class="form-group">
      <%= form.label :release_year %>
      <%= form.number_field :release_year, id: :track_release_year, class: "form-control form-control-lg" %>
    </div>
  </div>
  <div class="col-4">
    <div class="form-group">
      <%= form.label :release_month %>
      <%= form.number_field :release_month, id: :track_release_monthr, class: "form-control form-control-lg" %>
    </div>
  </div>
  <div class="col-4">
    <div class="form-group">
      <%= form.label :release_day %>
      <%= form.number_field :release_day, id: :track_release_day, class: "form-control form-control-lg" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="form-group">
      <%= form.label :license_id %>
      <%= form.text_field :license_id, id: :track_license_id, class: "form-control form-control-lg" %>
    </div>
  </div>
</div>









