<% track = TrackPresenter.new(album_track.track, self) %>

<tr id="<%= album_track.sortable_id %>" class="sortable_tracks_row p-0">
  <td> <%= icon_tag('icon-list') %></td>
  <td><%= track.cover_image_tag(size: :thumb, css: "avatar rounded avatar-sm" ) %></td>
  <td>
    <h6 class="mb-0"><%= link_to track.title, edit_polymorphic_path(track) %></h6>
  </td>
  <td><%= remove_icon(album_track, confirm: I18n.t('.remove', scope: :album_tracks) ) %></td>
</tr>

