<%= form_with model: @track, local: true do |f| %>

  <div class="row">
    <div class="col-7 offset-1">
      <span class="anchor" id="formLogin"></span>

      <div class="card card-outline-secondary">

        <%= bootstrap_card_header( t(".card-header") ) %>

        <div class="card-body">

          <%= render 'shared/errors', model: @track %>

          <div class="form-group">
            <%= f.label t(:title, scope: :tracks) %>
            <%= f.text_field :title, :autofocus => true, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label t(:description, scope: :tracks) %>
            <%= f.text_field :description, :autofocus => true, class: 'form-control' %>
          </div>

          <%= render partial: 'shared/edit_tag_list', locals: { form: f, model: @track } %>

          <div class="form-group">
            <% if @track.audio.try(:original_filename) %>
              <p>Replace : <%= @track.audio.original_filename %></p>
            <% end %>
            <%= custom_file_field(f, :audio, t('.choose_audio_file'), additional: t('.accept_audio_file')) %>
          </div>

          <%= render partial: 'shared/choose_cover', locals: { form: f, model: @track } %>

          <%= render partial: 'permissions', locals: { form: f } %>

          <%= bootstrap_submit(form: f, text: t('.submit')) %>

        </div>

      </div>
    </div>
  </div>

<% end %>
