<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        datashift_audio_engine.settings.autoplay = true;
        datashift_audio_engine.save_interval = 30000;
    });
</script>

<%= content_for 'audio_player_in_navbar' do %>
  <ul id="navbar-audio-player" class="navbar-nav nav-fill w-100">
    <li class="nav-item">
      <%= datashift_audio_player_tag %>

      <%= datashift_audio_player_script(init_url: "#{player_init_url}.json", load_url: "#{track_url(@track)}.json", save_url: player_status_callback_url) %>
    </li>
  </ul>
<% end %>

<div class="row pl-5">

  <div class="col-4 pl-2">
    <h5 class="card-title mb-3"><%= @track.artist %></h5>
    <h5 class="card-title mb-3"><%= @track.title %></h5>
    <p>
      <%= @track.description %>
    </p>
    <p>
      <%= @track.license %>
    </p>
    <p>
      <%= @track.id3_genre %>
    </p>
    <p>
      TODO : Ratings, Comments, Likes etc
    </p>
  </div>
</div>
