<div class="media row">

  <div class="accordion-item playlist-track col-4">
    <div class="card card-sm col p-0">
      <%= bootstrap_card_header( t(:playlists, scope: :global)) %>
    </div>

    <% if @playlists.present? %>
      <%= datashift_audio_player_in_navbar(init_url: "#{player_init_url}.json", load_url: "#{playlist_url(@playlists.first)}.json") %>
    <% end %>

    <ul id="playlist-index" class="striped-list list-group list-group-flush">
      <% @playlists.each do |playlist| %>

        <li id="playlist_row_<%= playlist.id %>">
          <% playlist = PlaylistPresenter.new(playlist, self) %>
          <div class="media align-items-center">
            <div class="accordion-item playlist-track col-12">
              <div class="card card-sm ml-2 mr-2">
                <div class="card-header col-12">
                  <div class="row">
                    <div class="col-2">
                      <!-- format: json does not work ?? -->
                      <%= playlist.cover_image_tag %>
                    </div>
                    <div class="col">
                      <%= link_to(playlist.name, "#{playlist_url(playlist)}.json", id: "select_playlist_row_#{playlist.id}") %>

                      <script type="text/javascript" charset="utf-8">
                          $('#<%= "select_playlist_row_#{playlist.id}" %>').click(function (event) {
                              event.preventDefault(); // Prevent link from following its href
                              datashift_audio_engine.load('<%= "#{playlist_url(playlist)}.json" %>');
                          });
                      </script>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <!-- datashift audio JS insertion point, for rendering playlist of currently selected list -->
  <div id="datashift-audio-playlist" class="col-8"></div>

</div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        datashift_audio_engine.settings.autoplay = true;
        datashift_audio_engine.save_interval = 30000;
    });
</script>
