<div class="hero-section centered pb-5 pt-5">
  <div class="hero-subheading">everything evolves</div>
  <div data-ix="new-interaction" class="w-container">
    <h1 class="hero-heading">Yet Another music service</h1>
    <div >
      <div class="hero-subheading">A new take on music sharing<br><br>built by musIcians<br>‍<br> for musIcians<br>‍</div>
        <div>
          <a href="#" class="button">sign up</a>
          <a href="#" class="hollow-button all-caps">Learn more</a>
        </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="w-container">
    <div class="section-title-group">
      <h2 class="section-heading centered">Creators</h2>
      <div class="section-subheading center">Upload and Share your music</div>
    </div>
    <div class="w-row">
      <div class="w-col w-col-4">
        <div class="white-box"><img src="<%= asset_path('webflow/kyoto_drummers_outline.jpg')%>" alt="open source" srcset="<%=asset_path('webflow/kyoto_drummers_outline-p-1080.jpeg') %> 1080w, images/kyoto_drummers_outline.jpg 1600w" sizes="(max-width: 479px) 30vw, (max-width: 767px) 18vw, (max-width: 991px) 98.65625px, 160.78125px" class="grid-image">
          <h3>Open Source</h3>
          <p class="paragraph-3">Our codebase is open source and free.<br><br>Anyone is free to create and host their own hub or artist page</p>
        </div>
      </div>
      <div class="w-col w-col-4">
        <div class="white-box"><img src="<%=asset_path('webflow/kyoto_drummers_outline_2.jpg') %>" width="210" srcset="<%=asset_path('webflow/kyoto_drummers_outline_2-p-1080.jpeg') %> 1080w, images/kyoto_drummers_outline_2.jpg 1600w" sizes="(max-width: 479px) 30vw, (max-width: 767px) 18vw, (max-width: 991px) 98.65625px, 160.78125px" alt="" class="grid-image">
          <h3>LESS is more</h3>
          <p class="paragraph-2">We have stripped site interaction right back compared to current social music sites. <br><br>Reducing the functionality to bare bones, creating a level playing field, encouraging users to engage more, and reducing ability of spammers and bots to game the system.</p>
        </div>
      </div>
      <div class="w-col w-col-4">
        <div class="white-box"><img src="<%= asset_path('webflow/kyoto_drummers_chalk.jpg')%>" srcset="<%=asset_path('webflow/kyoto_drummers_chalk-p-500.jpeg') %> 500w, images/kyoto_drummers_chalk-p-1080.jpeg 1080w, images/kyoto_drummers_chalk.jpg 1600w" sizes="(max-width: 479px) 30vw, (max-width: 767px) 18vw, (max-width: 991px) 98.65625px, 160.78125px" alt="" class="grid-image">
          <h3>roadmap to micropayments</h3>
          <p class="paragraph">We are building a new hybrid, that takes the best concepts from current sharing sites, but builds in this key feature :<br><br>Implementation of direct micro payments for streaming, playlists and purchases. i.e artists get paid instantly, not at the whim of tech giants or their label. All payments will be purely crypto based, supporting tiny amounts, with minuscule fees. We are looking at the Lightning Network as probably the most promising technology in this area, in combination with Bitcoin and Litecoin.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section accent pb-0">
  <div class="w-container">
    <div class="section-title-group">
      <h2 class="section-heading centered white">Industrial Revolution 4.0</h2>
      <div class="section-subheading center off-white">Learn from the past - Look to the future</div>
      <div class="w-row">
        <div class="w-col w-col-6">
          <div class="white-box transparent"><img src="<%= asset_path('webflow/kyoto_drummers_cutout_1200x600.jpg')%>" height="300" width="400" srcset="<%=asset_path('webflow//kyoto_drummers_cutout-p-1080.jpeg')%> 1080w, images/kyoto_drummers_cutout-p-1600.jpeg 1600w, images/kyoto_drummers_cutout.jpg 1782w" sizes="(max-width: 479px) 85vw, (max-width: 767px) 88vw, (max-width: 991px) 324px, 430px" alt="" class="fullwidth-image">
            <h3 class="white-text">features</h3>
            <p class="white-text">Radio like stream<br>Filter stream via tags<br>User can purchase tracks to store in personal Playlists (tapes), this will be in-app based, so would be at a discounted rate compared to a full ownership download.<br>Enable artists to store sample packs linked to track or album for sale or open source.<br>User can purchase tracks to own - Downloads<br>Suggestion page e.g Daily Top 20 - invite listeners to submit their top 20. Guest blogs - quality controlled content</p>
          </div>
        </div>
        <div class="w-col w-col-6">
          <div class="white-box transparent"><img src="<%= asset_path('webflow/lightening_btc_1200x600.png')%>"  height="300" width="400"  srcset="<%=asset_path('webflow/lightening_btc-p-500.png')%> 500w, images/lightening_btc-p-800.png 800w, images/lightening_btc-p-1080.png 1080w, images/lightening_btc.png 1200w" sizes="(max-width: 479px) 85vw, (max-width: 767px) 88vw, (max-width: 991px) 324px, 430px" alt="" class="fullwidth-image">
            <h3 class="white-text">Bitcoin</h3>
            <p class="white-text">We are proud to be a non ICO Project - We see no current use case for tokens, our intention is to build on top of the existing Lightning and Bitcoin networks.<br>Bitcoin is the oldest and most secure blockchain, backed by the world&#x27;s most powerful supercomputer network. Payments will initially be focused on BTC - to leverage the immutability and security of the network.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
