<div class="front-page-section text-center pb-5 pt-5">
  <div class="front-page-subheading">everything evolves</div>
  <div data-ix="new-interaction" class="w-container">
    <h1 class="front-page-heading">Yet Another music service</h1>
    <div >
      <div class="front-page-subheading mb-0">A new take on music sharing<br><br>built by musicians<br>‍<br> for musicians<br>‍</div>
        <div>
          <%= link_to( t(:sign_up, scope: :global), yams_core.new_user_registration_path, class: 'button') unless current_user %>
        </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="w-container">
    <div class="section-title-group">
      <h2 class="section-heading centered">Creators</h2>
      <div class="section-subheading center">Upload and Share your music</div>
    </div>
    <div class="w-row">
      <div class="w-col w-col-4">
        <div class="white-box"><img src="<%= asset_path('webflow/kyoto_drummers_outline.jpg')%>" alt="open source" class="grid-image">
          <h3>Open Source</h3>
          <p class="paragraph-3">Our codebase is open source and free.<br><br>Anyone is free to create and host their own hub or artist page</p>
        </div>
      </div>
      <div class="w-col w-col-4">
        <div class="white-box"><img src="<%=asset_path('webflow/kyoto_drummers_outline_2.jpg') %>" width="210" alt="" class="grid-image">
          <h3>LESS is more</h3>
          <p class="paragraph-2">Reducing the functionality to the necessities, creating a level playing field, encouraging users to engage more, and reducing ability of spammers and bots to game the system.</p>
        </div>
      </div>
      <div class="w-col w-col-4">
        <div class="white-box"><img src="<%= asset_path('webflow/kyoto_drummers_chalk.jpg')%>" alt="" class="grid-image">
          <h3>roadmap to micropayments</h3>
          <p class="paragraph">We are building a new hybrid, that takes the best concepts from current sharing sites, but builds in instant peer to peer micro-payments<br><br>Content producers/artist get paid instantly for purchases, streaming, playlists etc.No waiting on the whims of tech giants or record labels. All payments will be purely crypto based, supporting tiny amounts, with minuscule fees. Bitcoin and the Lightning Network as probably the most promising technologies in this area.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section accent pb-0">
  <div class="w-container">
    <div class="section-title-group">
      <h2 class="section-heading centered white">Industrial Revolution 4.0</h2>
      <div class="section-subheading center off-white">Learn from the past - Look to the future</div>
      <div class="w-row pt-2">
        <div class="w-col w-col-6">
          <div class="white-box transparent"><img src="<%= asset_path('covers/bitcoin drummers_1500x900-oil.jpg')%>" height="300" width="400" alt="" class="fullwidth-image">
            <h3 class="white-text">features</h3>
            <p class="white-text">Radio like stream<br>Filter stream via tags
              <br>User can purchase tracks to store in personal Playlists, this will be in-app based, so discounted rate compared to a full ownership download.<br>Enable artists to store sample packs linked to track or album for sale or open source.<br>User can purchase tracks to own - Downloads<br>Suggestion page e.g Daily Top 20 - invite listeners to submit their top 20. Guest blogs - quality controlled content</p>
          </div>
        </div>
        <div class="w-col w-col-6">
          <div class="white-box transparent"><img src="<%= asset_path('covers/bitcoin_black_network.jpg')%>"  height="300" width="400" alt="" class="fullwidth-image">
            <h3 class="white-text">Bitcoin</h3>
            <p class="white-text">This is not a get rich quick scheme ! We are proud to be a non ICO Project - We see no current use case for tokens, our intention is to build on top of the existing Bitcoin & Lightning networks.<br>Bitcoin is the oldest and most secure blockchain, backed by the world&#x27;s most powerful supercomputer network. Payments will initially be focused only on BTC.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
