<% accordion = "album-track-manager-#{album.id}" %>

<div class="media align-items-center">
  <div class="accordion-item album-track col-12">
    <div class="card card-sm ml-2 mr-2">

      <div class="card-header col-12">
        <div class="row">
          <div class="col-1">
            <%= album.bootstrap_actions_dropdown %>
          </div>
          <div class="col-2"><%= album.cover_image_tag %></div>
          <div class="col"><h5 class="album-track"><%= album.title %></h5></div>
          <a data-toggle="collapse" href="#<%= accordion %>" aria-expanded="true">
            <div class="col"><i class="icon-chevron-small-right" style="border: 2px solid;"></i></div>
          </a>
        </div>
      </div>

      <div class="card-header" ondrop="return false;">
        <ul id="album-track-drop-zone-<%= album.id %>" data-album-id="<%= album.id %>" ondrop="drop(event, this)" ondragover="allowDrop(event)">
          <h6 class="text-white"><%= t('global.drop_tracks') %></h6>
        </ul>
      </div>

      <!-- ALBUM TRACKS -->
      <div class="card-body">
        <div id="<%= accordion %>" class="collapse show col-12 album-track" role="tabpanel">
          <div class="show-track-album-dropzone">
            <%= render partial: 'shared/sortable_tracks_table', locals: { album: album } %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    $(function() {
        $('.sortable').railsSortable();
    })
</script>
