<%= form_with(model: album) do |f| %>

  <%= render 'shared/errors', model: album %>

  <div class="row">
    <div class="col-10">
      <div class="form-group">
        <%= f.label :title %><br />
        <%= f.text_field :title,  id: :album_title, class: "col" %>
      </div>
    </div>
  </div>

  <div  class="row">
    <div class="col-10">
      <div class="form-group">
        <%= f.label :description %><br />
        <%= f.text_area :description, id: :album_description, class: "col" %>
      </div>
    </div>
  </div>

  <div  class="row">
    <div class="col-10">
      <%= render partial: 'shared/edit_tag_list', locals: { form: f, model: @track } %>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <div class="form-group">
        <%= f.label t(:state) %><br />
        <%= f.collection_radio_buttons(:published_state, Album.published_states, :first, :first, html_options: { class: 'form-control' }) do |b| %>
          <%= b.label { b.radio_button + " " + b.text } %><br>
        <% end %>
      </div>
    </div>
    <div class="col-2">
      <%= bootstrap_submit(form: f, text: t("albums.#{params[:action]}.submit"), css: 'btn btn-block btn-lg float-right') %>
    </div>
  </div>

  <%= yield :album_form_extras %>

<% end %>
