<tr class="bg-white">
  <th scope="row">
    <a class="media align-items-center" href="#">
      <%= track.cover_image_tag(css: { class: "avatar rounded avatar-sm" } ) %>
    </a>
  </th>

  <td>
    <div class="media-body">
      <div class="col-10" data-track-id="<%= track.id %>" draggable="true" ondragstart="drag(event)" id="track_<%= track.id %>" >
        <span class="h6 mb-0"><%= track.title %></span>
      </div>
    </div>

    <div class="row" style="padding-bottom: 12px;" id="track_row_<%= track.id %>">
      <div class="col-10" data-track-id="<%= track.id %>" draggable="true" ondragstart="drag(event)" id="track_<%= track.id %>" >
        <span class="h6 mb-0"<%= track.title %></span>
      </div>
    </div>
  </td>

  <td>
    <%= link_to icon_tag('icon-pencil'), edit_track_path(track) %>
  </td>

  <td>
    <%= delete_icon(track) %>
  </td>

  <td>
    <%= bootstrap_actions_dropdown(track) %>
  </td>
</tr>

