<%= form_with(model: asset, local: true) do |form| %>
  <% if asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% asset.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :asset_title %>
  </div>

  <div class="field">
    <%= form.label :original_format %>
    <%= form.text_field :original_format, id: :asset_original_format %>
  </div>

  <div class="field">
    <%= form.label :owner_id %>
    <%= form.number_field :owner_id, id: :asset_owner_id %>
  </div>

  <div class="field">
    <%= form.label :owner_type %>
    <%= form.text_field :owner_type, id: :asset_owner_type %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.number_field :position, id: :asset_position %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :asset_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
