<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @asset.title %>
</p>

<p>
  <strong>Original format:</strong>
  <%= @asset.original_format %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @asset.owner_id %>
</p>

<p>
  <strong>Owner type:</strong>
  <%= @asset.owner_type %>
</p>

<p>
  <strong>Position:</strong>
  <%= @asset.position %>
</p>

<p>
  <strong>User:</strong>
  <%= @asset.user %>
</p>

<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
