<%= form_with(model: playlist) do |f| %>

  <%= render 'shared/errors', model: playlist %>

  <div class="row">
    <div class="col-10">
      <div class="form-group">
        <%= f.label :name %><br />
        <%= f.text_field :name,  id: :playlist_name, class: "col" %>
      </div>
    </div>
  </div>

  <div  class="row">
    <div class="col-10">
      <%= render partial: 'shared/edit_tag_list', locals: { form: f, model: @track } %>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <%= bootstrap_submit(form: f, text: t("playlists.#{params[:action]}.submit"), css: 'btn btn-block btn-lg float-right') %>
    </div>
  </div>

  <%= yield :playlist_form_extras %>

<% end %>
