<% if user_signed_in? %>
  <ul class="nav navbar-nav col-1">
    <li class='nav-item'><%= link_to t(:upload, scope: :global), new_track_path, class: 'nav-link' %></li>
  </ul>
<% end %>

<ul class="navbar-nav mr-auto col-2">
  <% if user_signed_in? %>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <% if current_user.avatar.attached? %>
          <%= image_tag(polymorphic_url(current_user.avatar), class: 'avatar avatar-xs') %> <%=  current_user.name %>
        <%else %>
          <%= t(:profile, scope: :global) %>
        <% end %>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <%= link_to t(:profile, scope: :global), user_path(current_user), class: 'dropdown-item' %>
        <%= link_to t(:music), album_tracks_path, class: 'dropdown-item' %>
        <%= link_to t(:sign_out), destroy_user_session_path, :method=>'delete', class: 'dropdown-item' %>
        <% if current_user.try(:admin?) %>
          <div class="dropdown-divider"></div>
          <%= link_to t(:admin), '/admin', class: 'dropdown-item' %>
        <% end %>
      </div>
    </li>

  <% else %>
    <li class='nav-item'><%= link_to t(:sign_in), new_user_session_path, class: 'nav-link border-right' %></li>
    <li class='nav-item'><%= link_to t(:sign_up), new_user_registration_path, class: 'nav-link' %></li>
  <% end %>

</ul>