<!DOCTYPE html>
<html>
<head>
  <%= render 'shared/head' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>

  <%= yield(:head_extension) %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>

  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/navigation' %>

  <div class="main-container">

    <div class="row p-0 m-0">
      <div id="messages_container" class="container-fluid">
        <%= render 'shared/messages' %>
      </div>
    </div>

    <div class="container-fluid pl-5 pr-5">
      <%= yield %>
    </div>

  </div>

  <%= render 'shared/footer' %>

  <%= yield(:body_extension) %>

</body>
</html>
