<!DOCTYPE html>
<html>
<head>
  <%= render 'shared/head' %>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet" type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= yield(:head_stylesheet_extension) %>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= yield(:head_extension) %>

  <%= csrf_meta_tags %>
</head>

<body>

  <div id="app-container">

    <div id="app-header">
      <%= render 'layouts/navigation' %>

      <%= turbo_frame_tag "yams-player-in-navbar" do %>
        <%#= render partial: 'yams_audio/shared/player', locals: { track: @track } %>
      <% end %>
    </div>

    <div id="app-body">

      <div id="messages_container" class="container-fluid p-0 m-0">
        <%= render 'shared/messages' %>
      </div>

      <%= yield %>

      <%= yield(:body_extension) %>
    </div>


    <div id="app-footer">
      <%= render 'shared/footer' %>
    </div>

  </div>

</body>
</html>
